<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>293805817747-odut3eg7sppv9svn84o5bi30vskuj1m1.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.293805817747-odut3eg7sppv9svn84o5bi30vskuj1m1</string>
	<key>API_KEY</key>
	<string>AIzaSyDCzLoyocwUt7UQzHveNuviSHe1t3pao3s</string>
	<key>GCM_SENDER_ID</key>
	<string>293805817747</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>personal.AdminApp.id</string>
	<key>PROJECT_ID</key>
	<string>antridoc-2247b</string>
	<key>STORAGE_BUCKET</key>
	<string>antridoc-2247b.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:293805817747:ios:1ec4aca4e5db43df5b3266</string>
	<key>DATABASE_URL</key>
	<string>https://antridoc-2247b.firebaseio.com</string>
</dict>
</plist>